{{> include/modals/loginModal}}
{{> include/modals/registerModal}}
<v-app-bar color="white" app >
   <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
   <v-toolbar-title class="v-toolbar-title" onclick="window.location.href='/'">AirBnB</v-toolbar-title>
   <v-spacer></v-spacer>
<v-autocomplete
	  v-model="selected"
      label="Destination"
      name="location"
      v-on:keyup="suggestion"
      :items="search"
	  item-text="properties.name"
	   hide-details
	  return-object
   >
 <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="remove(data.item)"
                  >

                    <% data.item.properties.name %>
                  </v-chip>
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content v-text="data.item"></v-list-item-content>
                  </template>
                  <template v-else>

                    <v-list-item-content>
                      <v-list-item-title v-html="data.item.properties.name"></v-list-item-title>
                      <v-list-item-subtitle v-html="data.item.properties.postcode"></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
   </v-autocomplete>
   <v-menu	
      ref="menu1"
      v-model="menu1"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      max-width="290px"
      min-width="290px"
      >
      <template v-slot:activator="{ on, attrs }">
         <v-text-field 
            v-model="dateRangeText"
            label="Dates"
            prepend-icon="mdi-calendar"
            v-bind="attrs"
            hide-details
            v-on="on"
            ></v-text-field>
      </template>
      <v-date-picker 
         v-model="dates"
         range
         :min="date"
         no-title
         ></v-date-picker>
   </v-menu>
   <v-select    
      :items="nb"
      v-model="nbTravellers"
      prepend-icon="mdi-account"
      dense
      hide-details
      label="Voyageurs"
      ></v-select>
   <v-spacer></v-spacer>
   <v-btn 
   @click="recherche()">
      <v-icon >mdi-magnify</v-icon>
   </v-btn>
</v-app-bar>
<v-content>


