<v-dialog
   v-model="confirmDeletePhotoModal"
   persistent
   max-width="290"
   >
   <v-card>
      <v-card-title class="headline">
         Supprimer 
      </v-card-title>
      <v-card-text>
         confirmez vous la suppression de:
         <v-row>
            ' <%editedPhoto.name%> '
         </v-row>
      </v-card-text>
      <v-card-actions>
         <v-spacer></v-spacer>
         <v-btn
            color="green darken-1"
            text
            @click="confirmDeletePhotoModal = false"
            >
            Cancel
         </v-btn>
         <v-btn
            color="red"
            @click="deletePhotoLodgement(editedPhoto)"
            >
            delete
         </v-btn>
         </form>
      </v-card-actions>
   </v-card>
</v-dialog>