<v-dialog
   v-model="registerModal"
   persistent
   max-width="600"
   >
   <template v-slot:activator="{ on, attrs }">
   </template>
   <v-card>
      <v-card-title class="headline">
         Register
      </v-card-title>
      <v-card-text>
         <v-stepper v-model="e1">
            <v-stepper-header>
               <v-stepper-step
                  :complete="e1 > 1"
                  step="1"
                  >
                  e-mail
               </v-stepper-step>
               <v-divider></v-divider>
               <v-stepper-step
                  :complete="e1 > 2"
                  step="2"
                  >
                  username
               </v-stepper-step>
               <v-divider></v-divider>
               <v-stepper-step step="3">
                  details
               </v-stepper-step>
            </v-stepper-header>
            <v-stepper-items>
               <v-form v-model="valid">
               <v-stepper-content step="1">
                  <v-card
                     class="mb-12"
                     color="grey lighten-1"
                     height="200px"
                     >
                     <v-text-field
                        v-model="newUser.mail"
                        :rules="emailRules"
                        label="E-mail"
                        required
                        ></v-text-field>
                  </v-card>
                  <v-btn
                     color="primary"
                     @click="e1 = 2"
                     >
                     Continue
                  </v-btn>
                  <v-btn
                     @click="registerModal = false"
                     text>
                     Cancel
                  </v-btn>
               </v-stepper-content>
               <v-stepper-content step="2">
                  <v-card
                     class="mb-12"
                     color="grey lighten-1"
                     height="200px"
                     >
                     <v-text-field
                        v-model="newUser.login"
                        :rules="usernameRules"
                        :counter="10"
                        label="Username"
                        required
                        ></v-text-field>
                  </v-card>
                  <v-btn
                     color="primary"
                     @click="e1 = 3"
                     >
                     Continue
                  </v-btn>
                  <v-btn
                     @click="registerModal = false"
                     text>
                     Cancel
                  </v-btn>
               </v-stepper-content>
               <v-stepper-content step="3">
                  <v-card
                     class="mb-12"
                     color="grey lighten-1"
                     height="200px"
                     >
                     <v-text-field
                        v-model="newUser.password"
                        :rules="passwordRules"
                        :counter="10"
                        label="Password"
                        required
                        ></v-text-field>
                     <v-text-field
                        v-model="passwordConfirm"
                        :rules="passwordRules"
                        :counter="10"
                        label="Confirm password"
                        required
                        ></v-text-field>
                  </v-card>
                  <v-btn
                     color="primary"
                     @click="registerUser()"
                     >
                     Continue
                  </v-btn>
                  <v-btn 
                     @click="registerModal = false"
                     text>
                     Cancel
                  </v-btn>
               </v-stepper-content>
            </v-stepper-items>
         </v-stepper>
      </v-card-text>
   </v-card>
</v-dialog>