<v-app-bar color="white" app >
   <v-app-bar-nav-icon @click.stop="$emit('toggle-drawer')"></v-app-bar-nav-icon>
   <v-toolbar-title class="v-toolbar-title" onclick="window.location.href='/'"><v-img height="32" src="/images/logo.png"></v-img></v-toolbar-title>
   <v-toolbar-title class="v-toolbar-title" onclick="window.location.href='/'">BleuesAndB</v-toolbar-title>
   <v-spacer></v-spacer>
   <adress-autocomplete ref="adress"></adress-autocomplete>
 	  <v-menu	
      v-model="menuDate"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      max-width="290px"
      min-width="290px"
      >
      <template v-slot:activator="{ on, attrs }">
         <v-text-field 

            label="Dates"
            prepend-icon="mdi-calendar"
            v-bind:value="datesText"
            hide-details
            v-on="on"
            ></v-text-field>
 
      </template>
                 <date-picker @dates-change="datesTextMethod" ref="dates"></date-picker>
         </v-menu>
   <v-select    
      :items="nb"
      v-model="nbTravellers"
      prepend-icon="mdi-account"
      dense
      hide-details
      label="Voyageurs"
      ></v-select>
   <v-spacer></v-spacer>
   <v-btn 
      @click="recherche()">
      <v-icon >mdi-magnify</v-icon>
   </v-btn>
</v-app-bar>