                  <v-data-iterator
                  	 style="width:100%;"
                     :items="images"
                     hide-default-footer
                     >
                     <template v-slot:header>
                        <v-toolbar
                           color="primary"
                           class="mb-2 white--text"
                           dense
                           >
                           <v-toolbar-title>Photos de l'annonce</v-toolbar-title>
                        </v-toolbar>
                     </template>
                     <template v-slot:default="props">
                        <v-row class="ma-0 pa-0">
                           <v-col
                              v-for="item in props.items"
                              :key="item.name"
                              cols="12"
                              sm="6"
                              md="4"
                              lg="3"
                              >
                              <v-card>
                                 <v-img
                                    max-height="auto"
                                    max-width="auto"
                                    :src=item.src
                                    ></v-img>
                                 <v-divider></v-divider>
                                 <v-list dense>
                                    <v-list-item>
                                       {{item.name}}
                                    </v-list-item>
                                    <v-list-item>
                                       <v-list-item-content class="align-end">
                                          <v-btn  small @click="deleteImage(item)" depressed>Supprimer</v-btn>
                                       </v-list-item-content>
                                    </v-list-item>
                                 </v-list>
                              </v-card>
                           </v-col>
                        </v-row>
                     </template>
                     <template v-slot:footer>
                           <v-file-input
                              v-model="file"
                              accept="image/*"
                              class="mx-2"
                              label="Ajouter une image"
                              ></v-file-input>
                           <v-btn v-if="file != null" @click="postImage()">Ajouter</v-btn>
                     </template>
                  </v-data-iterator>