<v-dialog
   v-model="dialog"
   persistent
   max-width="290"
   >
     <v-form v-model="valid">         
   <v-card>
       <div style="min-height: 4px;">
      <v-progress-linear
        v-model="value"
        :active="showProgressBar"
        :indeterminate="query"
      ></v-progress-linear>
    </div>
      <v-card-title class="headline">
         Connexion
      </v-card-title>
      <v-card-text>
      <div v-if="errorLogin!==null">{{errorLogin}}</div>
      
                 <v-text-field
        v-model="username"
        label="Nom d'utilisateur"
        :rules="usernameRules"
        required
      ></v-text-field>
                                <v-text-field
        v-model="password"
        label="Mot de passe"
        counter
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        @click:append="showPassword = !showPassword"
        :rules="passwordRules"
        required
      ></v-text-field>
  
      </v-card-text>
      <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
         color="green darken-1"
         text
         @click="dialog = false"
         >
      Retour
      </v-btn>
      <v-btn
         color="green darken-1"
         text
         :disabled="!valid"
         @click="login()"
         >
      Connexion
      </v-btn>

      </v-card-actions>
   </v-card>
    </v-form>
          
</v-dialog>