

<v-navigation-drawer
   v-model="drawer"
   absolute
   left
   temporary>
   <v-list-item>
      <v-list-item-content>
         <v-list-item-title class="title">
            <v-icon
               large
               color="blue darken-2"
               >
               mdi-account-box
            </v-icon>
            <%user%>
         </v-list-item-title>
         <v-list-item-subtitle>
            <v-dialog
               v-model="loginModal"
               persistent
               max-width="290"
               >
               <template v-slot:activator="{ on, attrs }">
               </template>
               <v-card>
                  <v-card-title class="headline">
                     Login
                  </v-card-title>
                  <v-card-text>
                     <form  method="post" action="/login">
                        <p>
                           <label for="username" class="sr-only">Username</label>
                           <input type="text" id="username" name="username" placeholder="Username" required autofocus>
                        </p>
                        <p>
                           <label for="password" class="sr-only">Password</label>
                           <input type="password" id="password" name="password"  placeholder="Password" required>
                        </p>
                  </v-card-text>
                  <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                     color="green darken-1"
                     text
                     @click="loginModal = false"
                     >
                  Cancel
                  </v-btn>
                  <v-btn
                     color="green darken-1"
                     text
                     type="submit"
                     @click="loginModal = false"
                     >
                  Login
                  </v-btn>
                  </form>
                  </v-card-actions>
               </v-card>
            </v-dialog>
         </v-list-item-subtitle>
      </v-list-item-content>
   </v-list-item>
   <v-divider></v-divider>
   <v-list
      dense
      nav
      >
      <v-list-item
         v-for="item in items"
         :key="item.title"
		 :href="item.link"
		 @click="triggerModal(item.action)"
         link
         >
         <v-list-item-icon>
            <v-icon><%item.icon%></v-icon>
         </v-list-item-icon>
         <v-list-item-content>
            <v-list-item-title><%item.title%></v-list-item-title>
         </v-list-item-content>
      </v-list-item>
   </v-list>
</v-navigation-drawer>
  <v-app-bar
        color="white"

      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
  
        <v-toolbar-title class="v-toolbar-title" onclick="window.location.href='/'">AirBnB</v-toolbar-title>
  
        <v-spacer></v-spacer>
  


      </v-app-bar>
      <v-sheet
   id="scrolling-techniques-7"
   class="overflow-y-auto"
   max-height="100vh">
<v-container div="container" style="height: 1500px;">
