{{> include/header}}
<drawer :user="user" ref="drawer"></drawer>
<bar-search @toggle-drawer="$refs.drawer.drawer = !$refs.drawer.drawer" app></bar-search>
<v-content style="background:#50BFD2;">
<div class="mx-auto mt-12" style="display:block;width:50%;">
	<h3>Le dépaysement à deux pas de chez vous</h3>
	<p>Trouvez votre nouveau chez vous. Découvrez des logements à  proximité pour vous installer, travailler, ou tout simplement vous détendre.</p>
	<v-btn depressed color="white" @click="explorer">Explorer les alentours</v-btn>
</div>
 </v-content>
{{> include/footer}}
