{{> include/header}}

<br>
<br>
<br>

 <form method="POST" action="/create" modelAttribute="user">
  <div class="field">
    <label>Name</label>
    <input type="text" name="login" placeholder="Login">
  </div>
  <div class="field">
    <label>Domain</label>
    <input type="text" name="password" placeholder="Password">
  </div>
    <div class="field">
    <label>Aliases</label>
    <input type="text" name="mail" placeholder="Mail">
  </div>
  
  <div class="ui container segment">
    <button class="ui green button" type="submit"><i class="circle check icon"></i>Validate</button>
    <button class="ui button" type="button" onclick="window.location.href='/'"><i class="circle outline icon"></i>Cancel</button>
 </div>
</form>



{{> include/footer}}
