{{> include/header}}
<drawer :user="user" ref="drawer"></drawer>
<bar @toggle-drawer="$refs.drawer.drawer = !$refs.drawer.drawer"></bar>
<v-content>
<v-container div="container" style="height: 1500px;">
<v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
             	Début
            </th>
            <th class="text-left">
              Fin
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in reservations"
            :key="item.id"
          >
            <td><% item.start %></td>
            <td><% item.end %></td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
</v-container>
</v-content>
{{> include/footer}}
