{{> include/header}}

<div class="container">
    <form
    method="get">
    <v-text-field
      label="Destination"
      v-bind:value="destination.name"
      name="location"
      v-on:keyup="suggestion"
      autocomplete="new-password"
    ></v-text-field>

      <v-btn
        class="mr-4"
        v-on:click="recherche"
      >
        Rechercher
      </v-btn>
      <v-alert
      v-if="error"
      dense
      outlined
      type="error"
    >
      Vous devez choisir une des destinations proposées
    </v-alert>
    </form>
</div>
<v-simple-table>
    <template v-slot:default>
      <tbody>
        <tr v-for="i in search">
			<td v-on:click="destinationSelected(i)"><%i.properties.name%> , <%i.properties.postcode%></td>
        </tr>
      </tbody>
    </template>
</v-simple-table>

{{> include/footer}}
