{{> include/header}}
<drawer :user="user" ref="drawer"></drawer>
<bar @toggle-drawer="$refs.drawer.drawer = !$refs.drawer.drawer"></bar>
<v-container style="margin-top:5em;">
<h1>Hello <%user.login%></h1>
	<!-- Besoin d'aide pour la fonction changer de mot de passe --> 
	<div class="userSettings-flexbox-main">
	<div style="margin:2em;">
	
	<avatar v-if="user.id!==''" :user="user"></avatar>
	
	<v-file-input
	v-model="file"
	accept="image/*"
	label="Changer d'avatar"
	>
	</v-file-input>
	<v-btn v-if="file!=null" @click="postAvatar()">Post</v-btn>
      
      
 	<v-text-field
         v-model="user.password"
         :counter="20"
         label="Password"
         required
         >
         </v-text-field>

        <v-text-field
        v-model="user.mail"
        label="E-mail"
        name="mail"
        required
        >
        </v-text-field>
    
        <v-btn
        :disabled="!valid"
        color="primary"
        class="mr-4"
        @click="updateUser()"
        >
        Submit
       </v-btn>
 	</div>
</div>
</v-container>
{{> include/footer}}