{{> include/header}}
<drawer :user="user" ref="drawer"></drawer>
<bar @toggle-drawer="$refs.drawer.drawer = !$refs.drawer.drawer"></bar>
<v-container>
<h1>Hello <%user.login%></h1>

<v-row>
      <v-col
         cols="6"
         >
         
    <v-text-field
      v-model="user.login"
      :counter="20"
      label="login"
      required
    ></v-text-field>

    <v-text-field
      v-model="user.mail"
      label="E-mail"
      name="mail"
      required
    ></v-text-field>
    
    <v-btn
      :disabled="!valid"
      color="primary"
      class="mr-4"
      @click="updateUser()"
    >
      Submit
    </v-btn>
    </v-col>
          <v-col
         cols="6"
         >
              <v-file-input
  v-model="file"
  accept="image/*"
  label="Ajouter un avatar"
></v-file-input>
<v-btn v-if="file!=null" @click="postAvatar()">Post</v-btn>
         </v-col>
    
 </v-row>
</v-container>
{{> include/footer}}